### 크롤링 연습문제

#### 문제 1
- 네이버 금융 페이지에서 유가/환율/국제금 시세/국내금 시세 추출  
- url = 'https://finance.naver.com'

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

from urllib.request import urlopen
import pandas as pd
import bs4
import requests

In [2]:
url =  'https://finance.naver.com'
html = urlopen(url)
bs_obj = bs4.BeautifulSoup(html, 'html.parser')
# bs_obj

In [3]:
# USD div class group1 / tr class up bold th scope=row td text
# 유가
# 국제금
# 국내금

# 전체
page = bs_obj.select_one('#container')
article = page.select_one('.article2')

usd = article.find('div', {'class':'section1'}).find('tr',{'class':'up bold'}).select_one('td').text

oil = article.find('div', {'class':'section2'}).find('div', {'class':'group1'}).find('tr',{'class':'down bold'}).find('td').text

intl = article.find('div', {'class':'section2'}).find('div', {'class':'group2'}).find('tr',{'class':'down bold'}).find('td').text

dom = article.find('div', {'class':'section2'}).find('div', {'class':'group2'}).select_one('.down').find('td').text

print('유가 : ', oil)
print('USD : ', usd)
print('국제금 : ', intl)
print('국내금 : ', dom)

유가 :  88.52
USD :  104.7400
국제금 :  1,932.50
국내금 :  1,932.50

In [4]:
# 유가 :  88.84
# USD :  1,328.00
# 국제금 :  1,935.10
# 국내금 :  81,781.70

#### 문제 2
- 네이버 증권 페이지에서 상한가 / 하한가 / 시가총액상위 기업 추출
- url = "http://finance.naver.com/sise/"

In [5]:
url =  "http://finance.naver.com/sise/"
html = urlopen(url)
bs_obj = bs4.BeautifulSoup(html, 'html.parser')
# bs_obj

In [6]:
# ---------- 상한가 ----------
# 1 노루홀딩스우 = 48,900
# 2 이원컴포텍 = 4,120
# 3 에이스테크 = 2,425
# 4 노루페인트우 = 25,450
# 5 머큐리 = 8,370
# 6 애드바이오텍 = 4,910
# 7 썬테크 = 5,180
# 8 엔에스컴퍼니 = 4,845

In [7]:
# 상한가 테스트
up = bs_obj.select_one('#siselist_tab_0')
title = up.findAll('tr')[2].findAll('td')[3].text
price = up.findAll('tr')[2].findAll('td')[4].text
title
price

'피씨엘'

'3,980'

In [8]:
n = len(up.findAll('tr'))

for i in range(2,n-2):
    title = up.findAll('tr')[i].findAll('td')[3].text
    price = up.findAll('tr')[i].findAll('td')[4].text
    print(f'{i-1} {title} = {price}')

1 피씨엘 = 3,980
2 서남 = 4,795
3 엘에이티 = 8,030
4 엔젠바이오 = 8,760

In [9]:

# ----------- 하한가 -----------
# 1 테크엔 = 289

In [10]:
down = bs_obj.select_one('#siselist_tab_1')
n = len(down.findAll('tr'))

for i in range(2,n-2):
    title = down.findAll('tr')[i].findAll('td')[3].text
    price = down.findAll('tr')[i].findAll('td')[4].text
    print(f'{i-1} {title} = {price}')

1 대유에이텍 = 355
2 골프존데카 = 1,180
3 테크엔 = 246

In [11]:

# ----------- 시가총액 상위 -----------
# 1 삼성전자 = 70,900
# 2 LG에너지솔루션 = 494,500
# 3 SK하이닉스 = 118,500
# 4 삼성바이오로직스 = 723,000
# 5 삼성전자우 = 57,500
# 6 POSCO홀딩스 = 529,000
# 7 현대차 = 189,800
# 8 삼성SDI = 558,000
# 9 LG화학 = 540,000
# 10 NAVER = 222,000

In [12]:
# 하나 뽑아보기
content = bs_obj.select_one('#contentarea')
title = content.select_one('#siselist_tab_7').findAll('tr')[2].findAll('td')[1].find('a').text
price = content.select_one('#siselist_tab_7').findAll('tr')[2].findAll('td')[5].text

title
price

'삼성전자'

'4,268,395'

In [16]:
# tr 1개에 td 9개
# 제목: tr 2번째 td a태그 
# 시가총액 : td 6번째
content = bs_obj.select_one('#contentarea')
tot = content.select_one('#siselist_tab_7')
n = len(tot.findAll('tr'))

for i in range(2,n-2):
    if i in (7,8,9):
        continue
    else:
        title = tot.findAll('tr')[i].findAll('td')[1].find('a').text
        price = tot.findAll('tr')[i].findAll('td')[5].text
        print(f'{i-1} {title} = {price}')

1 삼성전자 = 4,268,395
2 LG에너지솔루션 = 1,188,720
3 SK하이닉스 = 871,419
4 삼성바이오로직스 = 515,300
5 삼성전자우 = 473,983
9 POSCO홀딩스 = 467,679
10 현대차 = 400,429
11 삼성SDI = 396,084
12 LG화학 = 386,140
13 NAVER = 365,009