In [4]:
import pandas as pd
import numpy as np

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### 연습문제 1
- 붓꽃(iris) 데이터에서 붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width) 등의 평균 구하기

In [6]:
# 붓꽃(iris) 데이터 로드
import seaborn as sns
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
# 붓꽃 종 별로 그룹핑
spe_iris = iris.groupby('species',observed=True)

In [8]:
# 그룹핑된 위 객체를 이용해 각 품종 별 꽃잎길이의 평균을 구하시오
spe_iris['petal_length'].mean()

species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

In [9]:
# 그룹핑된 groups 객체를 이용하여 각 품종별 꽃받침 길이의 평균을 구하시오
spe_iris['sepal_length'].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

#### 연습문제 2
- tips 데이터셋 사용하여 total_bill 
- 대비 팁의 비율이 요일과 점심/저녁 여부, 인원수에 어떤 영향을 받는지 확인
- 어떤 요인이 가장 크게 작용하는지 확인

In [10]:
# tips 데이터셋 로드
tips= sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
# (1) total_bill 대비 팁 요금의 비율을 계산하고 가공필드 tip_pct 열에 저장
tips['tip_pct'] =  tips['tip'] / tips['total_bill']

In [12]:
tips

     total_bill   tip     sex smoker   day    time  size   tip_pct
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [13]:
# (2) 각 요일별 손님의 수를 확인
tips.groupby('day',observed=True).size()  # bill 수 
tips.groupby('day',observed=True)['size'].sum() # 개인  수

day
Thur    62
Fri     19
Sat     87
Sun     76
dtype: int64

day
Thur    152
Fri      40
Sat     219
Sun     216
Name: size, dtype: int64

In [14]:
# (3) 각 요일별 한테이블당 인원수의 평균 확인
tips.groupby(['day'],observed=True)['size'].mean()

day
Thur    2.451613
Fri     2.105263
Sat     2.517241
Sun     2.842105
Name: size, dtype: float64

In [15]:
# (4) 점심/저녁 손님의 수 확인 
tips.groupby('time',observed=True).size()  # bill 수
tips.groupby('time',observed=True)['size'].sum() # 개인 수

time
Lunch      68
Dinner    176
dtype: int64

time
Lunch     164
Dinner    463
Name: size, dtype: int64

In [16]:
# (5) 점심 저녁 별로 테이블당 인원수 평균 구하기
tips.groupby('time',observed=True)['size'].mean()
tips.groupby('time',observed=True)[['size']].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

            size
time
Lunch   2.411765
Dinner  2.630682

In [19]:
# (6) 각 요일별 점심/저녁 손님의 수를 피봇 테이블로 출력
tips['size'].sum()
pd.pivot_table(tips, values='size', index='day', columns='time',aggfunc='sum') # 개인 수

pd.pivot_table(tips, values='total_bill', index='day', columns='time',aggfunc='count') # bill 수

# tips[(tips['time']=='Lunch') & (tips['day']=='Sat')]
# tips[(tips['time']=='Lunch') & (tips['day']=='Sun')]

627

time  Lunch  Dinner
day
Thur    150       2
Fri      14      26
Sat       0     219
Sun       0     216

time  Lunch  Dinner
day
Thur     61       1
Fri       7      12
Sat       0      87
Sun       0      76

In [37]:
# (7) 각 요일별 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
pd.pivot_table(tips, values='size', index='day',aggfunc=['mean','max','min'])

          mean  max  min
          size size size
day
Thur  2.451613    6    1
Fri   2.105263    4    1
Sat   2.517241    5    1
Sun   2.842105    6    2

In [39]:
# (8) 각 요일별 시간대별(Dinner/Lunch) 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
# index : day, time
pd.pivot_table(tips, values='size', index=['day','time'],aggfunc=['mean','max','min'])

                 mean  max  min
                 size size size
day  time
Thur Lunch   2.459016  6.0  1.0
     Dinner  2.000000  2.0  2.0
Fri  Lunch   2.000000  3.0  1.0
     Dinner  2.166667  4.0  2.0
Sat  Dinner  2.517241  5.0  1.0
Sun  Dinner  2.842105  6.0  2.0

In [20]:
# (9) 각 요일별/시간대별(Dinner/Lunch) 테이블당 인원수의 평균과 최대인원 최소인원을 피봇테이블로 출력
# 결측치는 0으로 채움
pd.pivot_table(tips, values='size', index=['day','time'],aggfunc=['mean','max','min'], fill_value = 0)


pd.pivot_table(tips, 
               values='size', 
               index='day',
               columns='time',
               aggfunc=['mean','max','min'], 
               fill_value = 0)

                 mean  max  min
                 size size size
day  time
Thur Lunch   2.459016  6.0  1.0
     Dinner  2.000000  2.0  2.0
Fri  Lunch   2.000000  3.0  1.0
     Dinner  2.166667  4.0  2.0
Sat  Dinner  2.517241  5.0  1.0
Sun  Dinner  2.842105  6.0  2.0

          mean             max          min
time     Lunch    Dinner Lunch Dinner Lunch Dinner
day
Thur  2.459016  2.000000   6.0    2.0   1.0    2.0
Fri   2.000000  2.166667   3.0    4.0   1.0    2.0
Sat   0.000000  2.517241   0.0    5.0   0.0    1.0
Sun   0.000000  2.842105   0.0    6.0   0.0    2.0

In [41]:
# (10) 각 요일별 tip_pct의 평균 구하기
tips.groupby('day',observed=True)['tip_pct'].mean()

day
Thur    0.161276
Fri     0.169913
Sat     0.153152
Sun     0.166897
Name: tip_pct, dtype: float64

In [42]:
# (11) 시간대별 tip_pct의 평균 구하기
tips.groupby('time',observed=True)['tip_pct'].mean()

time
Lunch     0.164128
Dinner    0.159518
Name: tip_pct, dtype: float64

In [25]:
# (12) 각 요일에 따른 time별 tip_pct의 평균 구하기
# pd.options.display.float_format = '{:.4f}'.format
# pd.reset_option('display.float_format')

tips.groupby(['day','time'],observed=True)['tip_pct'].mean().round(2)

day   time
Thur  Lunch     0.16
      Dinner    0.16
Fri   Lunch     0.19
      Dinner    0.16
Sat   Dinner    0.15
Sun   Dinner    0.17
Name: tip_pct, dtype: float64

In [26]:
# (13) 각 요일별로 시간대 평균인원수와 팁비율의 평균 구하기
tips.groupby(['day','time'],observed=True)['size'].mean()
tips.groupby(['day','time'],observed=True)['tip_pct'].mean()

tips.groupby(['day','time'],observed=True)[['size','tip_pct']].mean().round(2)

day   time
Thur  Lunch     2.459016
      Dinner    2.000000
Fri   Lunch     2.000000
      Dinner    2.166667
Sat   Dinner    2.517241
Sun   Dinner    2.842105
Name: size, dtype: float64

day   time
Thur  Lunch     0.161301
      Dinner    0.159744
Fri   Lunch     0.188765
      Dinner    0.158916
Sat   Dinner    0.153152
Sun   Dinner    0.166897
Name: tip_pct, dtype: float64

             size  tip_pct
day  time
Thur Lunch   2.46     0.16
     Dinner  2.00     0.16
Fri  Lunch   2.00     0.19
     Dinner  2.17     0.16
Sat  Dinner  2.52     0.15
Sun  Dinner  2.84     0.17