## JSON연습
- 파일확장명 : json

In [37]:
# %config Completer.use_jedi = False

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [5]:
import json

In [6]:
# json 형식의 문자열
json_str = '{"name": "홍길동", "age":"33"}'

# json 형식의 문자열을 json객체로 변환 : Loads() 메소드 ㅏㅅ용
# '' 로 전체 닫고 내부는 ""
json_obj = json.loads(json_str)
json_obj

{'name': '홍길동', 'age': '33'}

In [7]:
type(json_obj)

dict

In [8]:
# 각 요소의 값 추출 : get()메소드 사용
json_obj.get("name")
json_obj.get("age")

'홍길동'

'33'

In [42]:
# 각 요소의 값 추출 : key 사용
json_obj['name']
json_obj['age']

'홍길동'

'33'

In [12]:
json_str = '''
{"fruits":[{"fruit":"apple"}, {"fruit":"pear"}, {"fruit":"banana"}],
 "price":[{"price":1000},{"price":2000},{"price":3000}]
 }'''

# json형식의 문자열을 json 객체로 반환
json_obj = json.loads(json_str)
json_obj

{'fruits': [{'fruit': 'apple'}, {'fruit': 'pear'}, {'fruit': 'banana'}],
 'price': [{'price': 1000}, {'price': 2000}, {'price': 3000}]}

In [44]:
# 변수명 fruits요소 출력
json_obj.get('fruits')
json_obj['fruits']

[{'fruit': 'apple'}, {'fruit': 'pear'}, {'fruit': 'banana'}]

[{'fruit': 'apple'}, {'fruit': 'pear'}, {'fruit': 'banana'}]

In [45]:
json_obj.get('fruits')[0]
json_obj['fruits'][0]

{'fruit': 'apple'}

{'fruit': 'apple'}

In [46]:
# apple 추출
json_obj.get('fruits')[0]['fruit']

'apple'

In [2]:
json_obj.get('price')[0]['price']

NameError: name 'json_obj' is not defined

In [21]:
# 딕셔너리처럼 사용하면 된다.
for fruit, price in zip(json_obj['fruits'], json_obj['price']):
    print(fruit['fruit'], price['price'])

apple 1000
pear 2000
banana 3000

### JOSN 연습문제

In [24]:
json_str = '''
{
	"lastBuildDate":"Thu, 14 Sep 2023 12:50:30 +0900",
	"total":949667,
	"start":1,
	"display":10,
	"items":[
		{
			"title":"아이폰 사파리 텍스트 찾기 <b>단어<\/b> <b>검색<\/b> 방법 정리",
			"link":"https:\/\/blog.naver.com\/jhbksgi\/222982804031",
			"description":"아이폰 사파리 크롬 텍스트 찾기 <b>단어<\/b> <b>검색<\/b> 방법 정리 글\/사진 : 곰T 기본적으로 컴퓨터용, 모바일용 Browser에는 '<b>검색<\/b>' 기능이 있습니다. 그냥 <b>검색<\/b>(Search)이라고 하면 감이 잘 오지 않을 수 있겠네요. 좀 더... ",
			"bloggername":"곰T의 IT트러블슈팅",
			"bloggerlink":"blog.naver.com\/jhbksgi",
			"postdate":"20230112"
		},
		{
			"title":"영어<b>단어<\/b> <b>검색<\/b>은 꼭 구글을 이용하기 네이버영어사전 vs... ",
			"link":"https:\/\/blog.naver.com\/rhyrhyrhy\/222923284547",
			"description":"leave 의 뜻이라고 <b>검색<\/b>이 됩니다. 사실 이 <b>단어<\/b> 한개 뿐만이 아니라, 이런식으로 네이버 포털<b>검색<\/b>으로 정확한 의미를 찾을 수 없었던 <b>단어<\/b>들이 더 있었어요. 0 점대 레벨 도서에 나와있는 <b>단어<\/b>들, 게다가... ",
			"bloggername":"키즈 영어서점 중고 영어 원서 전문 (ar가입지사)",
			"bloggerlink":"blog.naver.com\/rhyrhyrhy",
			"postdate":"20230712"
		},
		{
			"title":"영어 <b>단어<\/b>로 유튜브 영상 <b>검색<\/b>해주는 유글리쉬 사용법",
			"link":"https:\/\/blog.naver.com\/tepet\/222697272255",
			"description":"있는 분야의 핵심 <b>단어<\/b>를 입력하면, 그 <b>단어<\/b>가 사용된 문장이 나와주기 때문에 발음과 주로 함께 사용되는 <b>단어<\/b>들까지 강제로 영어 공부가 된다. #영어<b>단어<\/b> #유튜브 #영상<b>검색<\/b> #유글리쉬 #사용법",
			"bloggername":"19%",
			"bloggerlink":"blog.naver.com\/tepet",
			"postdate":"20230911"
		}
	]
}
'''

In [41]:
# title과 link추출해서 dataframe으로 생성
import pandas as pd
json_obj = json.loads(json_str)   

titles = []
links = [] 

# <b>없애기 : replace
for item in json_obj['items']:
    titles.append(item['title'].replace('<b>','').replace('</b>',''))
    links.append(item['link'].replace('<b>','').replace('</b>',''))

df = pd.DataFrame({'title':titles, 'link':links})
df

,title,link
0,아이폰 사파리 텍스트 찾기 단어 검색 방법 정리,https://blog.naver.com/jhbksgi/222982804031
1,영어단어 검색은 꼭 구글을 이용하기 네이버영어사전 vs...,https://blog.naver.com/rhyrhyrhy/222923284547
2,영어 단어로 유튜브 영상 검색해주는 유글리쉬 사용법,https://blog.naver.com/tepet/222697272255