### DB 연동 연습문제
- (1) DB 연결
- (2) prodcut 테이블에서 전체 상품 정보 출력
- (3) 상품가격이 1,000,000원 이상인 상품만 출력
- (4) 새로운 상품 등록 (입력 받아서)
- (5) 상품번호가 10인 상품의 가격을 1000,000원으로 수정
- (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)

In [2]:
import pymysql

In [4]:
# 1. DB 연결
# 호스트명, 포트번호, 로그인 계정, 비밀번호, CHARSET 파라미터로 지정
import cryptography
conn = pymysql.connect(host='localhost', 
                       port=3306, 
                       user='root', 
                       passwd='wjd900105!',
                       charset='utf8')
# 연결 객체 반환

In [6]:
# 2. cursor 객체 
cursor = conn.cursor()

In [9]:
sql = 'use sqldb4'
cursor.execute(sql)

sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('15', '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [11]:
#  상품가격이 1,000,000원 이상인 상품만 출력
sql = 'select * from product where prdPrice >= 1000000'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [45]:
# 새로운 상품 등록 (입력 받아서)
prdNo = input('상품번호 입력 : ')
prdName = input('상품명 입력 : ')
prdPrice = input('상품가격 입력 : ')
prdMaker = input('제조사 입력 : ')
prdColor = input('상품 색상 입력 : ')
ctgNo = input('카테고리 입력 : ')

상품번호 입력 :  17
상품명 입력 :  dkdlvhs
상품가격 입력 :  10000000
제조사 입력 :  apple
상품 색상 입력 :  pink
카테고리 입력 :  1

In [46]:
prdNo, prdName, prdPrice, prdMaker, prdColor, ctgNo

('17', 'dkdlvhs', '10000000', 'apple', 'pink', '1')

In [47]:
sql = "insert into product values(%s, %s, %s, %s, %s, %s)"  # 위치, 데이터 타입 지정해 놓고 (다 문자열로 넘겨도 오류 없음)
values = (prdNo, prdName, prdPrice, prdMaker, prdColor, ctgNo) # 실제 전달될 값

cursor.execute(sql, values)
conn.commit()  # 반드시 commit해서 완료시켜야 db에 반영됨

In [48]:
# 확인
sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('15', '아이폰 16', 1300000, '애플', '분홍색', 1),
 ('17', 'dkdlvhs', 10000000, 'apple', 'pink', 1),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [22]:
# (5) 상품번호가 10인 상품의 가격을 1000,000원으로 수정
sql = "update product set prdPrice=1000000 where prdNo=10"

cursor.execute(sql) # 값도 같이 전달 
conn.commit()

In [25]:
# 확인
sql = 'select * from product where prdNo=10'
cursor.execute(sql)
result = cursor.fetchall()
result

(('10', 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),)

In [26]:
# (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)

In [27]:
prdNo = input('상품번호 입력 : ')

상품번호 입력 :  15

In [29]:
sql = "delete from product where prdNo=" + prdNo

cursor.execute(sql) # 값도 같이 전달 
conn.commit()

In [31]:
# 확인
sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))